@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    margin: 1em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(78, 100, 116, 0.2) 0px 7px 29px 0px;
}


header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}

header .image-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

header .image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}

header .profile-name {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
}

header .profile-name h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #353535;
}

header .profile-name span {
    position: relative;
    padding-top: 0.3em;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 300;
    border-top: 1px solid #d3d3d3;
}

.content-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 0;
}

.left-side {
    position: relative;
    padding: 1rem;
    margin: 2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #d3d3d3;
}

h3 {
    position: relative;
    color: #353535;
    border-left: 3px solid #83c5be;
    padding-left: 10px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.1em;

}

.left-side ul {
    position: relative;
    margin: 0 0 40px;
}

.left-side ul li {
    line-height: 1em;
    margin: 10px 0;
    color: #333;
    cursor: pointer;
    display: flex;
}

.left-side ul li ion-icon {
    font-size: 1.5em;
    margin-right: 15px;
    color: #fb8b24;
}

.left-side .education ul li {
    margin: 25px 0;
    flex-direction: column;
}

h6 {
    color: #353535;
    font-weight: 300;
    font-size: 1em;
}

h5 {
    color: #fb8b24;
}

h4 {
    color: #353535;
    font-weight: 500;
    margin: 5px 0;
}

.right-side {
    position: relative;
    padding: 1rem;
    margin: 2rem 2rem 2rem 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*affect on all h3 tags on right side except the h3 tag in "personal-background" div*/
.right-side h3:not(.personal-background h3) {
    margin-top: 40px;
}

.experience .sub-container {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}


.experience .sub-container .project-description {
    margin-left: 30px;
}

.right-side ul li {
    list-style: none;
    line-height: 1em;
    margin: 10px 0;
    color: #353535;
    cursor: pointer;
    display: flex;
}

.footer-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container ul li img {
    width: 7rem;
    padding: 1rem;

}